extends layout

block content
  .container.div
    .card.h1 Demostración Blockchain
     .h3 Demostracion de uso de tecnologia blockchain, esta aplicacion consta de seis secciones:
       .br.listItems - Hash: Demuestra graficamente el funcionamiento de el algoritmo SHA256 para encriptar cadenas
       .br.listItems - Block: Muestra graficamente, los componentes de un bloque de blockchain
       .br.listItems - Blockchain: Muestra graficamente, el funcionamiento de una cadena de bloques.
       .br.listItems - Distributed: Es una pequeña demostracion de como funciona una red de nodos en un blockchain para asegurar la integridad de los datos en los bloques
       .br.listItems - Tokens: Demuestra un la informacion de una criptomoneda dentro de sus bloques
       .br.listItems - Coinbase: Un ejemplo de como funciona por dentro Coinbase de una manera basica, utilizado blockchain para registrar los libros de transacciones.n
