doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='A live blockchain demo in a browser.')
    meta(name='author', content='Anders Brownworth')
    link(rel='icon', href='/favicon.png')

    title Blockchain Demo

    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap-horizon.css')
    link(rel='stylesheet', href='/stylesheets/lib/ladda-themeless.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/ie10-viewport-bug-workaround.css')
    link(rel='stylesheet', href='/stylesheets/blockchain.css')

    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/lib/spin.min.js')
    script(src='/javascripts/lib/ladda.min.js')
    script(src='/javascripts/lib/ie10-viewport-bug-workaround.js')
    script(src='/javascripts/lib/sha256.js')
    script(src='/javascripts/blockchain.js')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') #{__('Blockchain Demo')}
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li(class={active: page === 'hash'})
              a(href='/hash') #{__('Hash')}
            li(class={active: page === 'block'})
              a(href='/block') #{__('Block')}
            li(class={active: page === 'blockchain'})
              a(href='/blockchain') #{__('Blockchain')}
            li(class={active: page === 'distributed'})
              a(href='/distributed') #{__('Distributed')}
            li(class={active: page === 'tokens'})
              a(href='/tokens') #{__('Tokens')}
            li(class={active: page === 'coinbase'})
              a(href='/coinbase') #{__('Coinbase')}

    block content
